annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
bottle==0.13.4
cffi==2.0.0
click==8.3.1
clr_loader==0.2.10
colorama==0.4.6
fastapi==0.135.1
greenlet==3.3.2
h11==0.16.0
idna==3.11
proxy_tools==0.1.0
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
pythonnet==3.0.5
SQLAlchemy==2.0.48
starlette==0.52.1
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.41.0
